/*
 * Copyright 2014-2023 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

:root {
    --dokka-logo-image-url: url('../images/fc_banner.png');
    --dokka-logo-height: 284px;
    --dokka-logo-width: 64px;

    --dokka-logo-small-image-url: url('../images/icon.png');
    --dokka-logo-small-height: 64px;
    --dokka-logo-small-width: 64px;

    --discord-image-url: url('../images/discord_banner.png');
    --discord-height: 139px;
    --discord-width: 64px;

    --discord-small-image-url: url('../images/discord_small_banner.png');
    --discord-small-height: 61px;
    --discord-small-width: 64px;

    --cf-image-url: url('../images/cf_banner.png');
    --cf-height: 61px;
    --cf-width: 64px;

    --modrinth-image-url: url('../images/modrinth_banner.png');
    --modrinth-height: 61px;
    --modrinth-width: 64px;

    --wiki-image-url: url('../images/wiki_banner.png');
    --wiki-height: 139px;
    --wiki-width: 64px;

    --wiki-small-image-url: url('../images/wiki_small_banner.png');
    --wiki-small-height: 61px;
    --wiki-small-width: 64px;
}